.forecast {
    max-width: 400px;
    min-width: 400px;
    margin-top: 1.4rem;
    padding-left: 1.4rem;
}

@media (min-width: 768px) {
    .forecast {
        margin-bottom: .8rem;
    }
}

.forecast .day {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin: 30px 0;
}

.forecast .wheather-condition-icon {
    margin-right: 10px;
}

.forecast .wheather-condition {
    font-size: 18px;
}

.forecast .temperature {
    margin-left: auto;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1.2rem;
}
