.wheather-conditions-container {
    padding: 2.5rem;
    padding-bottom: 1.4rem;
    transition-timing-function: ease-in;
    transition: 0.5s;
}

@media (min-width: 768px) {
    .wheather-conditions-container {
        padding-bottom: 0;
    }
}

.wheather-conditions-container .wheather-condition {
    display: flex;
    align-items: center;
}

.wheather-conditions-container .wheather-condition-description {
    font-size: 44px;
    margin-left: 12px;
}

.wheather-temperature {
    padding: 1.4rem 1.4rem 0 0;    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wheather-temperature .temperature {
    font-weight: 100;
    font-size: 144px;
    
}

.wheather-temperature .max-min-temperature {
    position: relative;
    bottom: 0;
    top: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 25px;
    padding-top: 1.8rem;
}

.wheather-temperature .max-min-temperature .max, .min {
    font-weight: 100;
    font-size: 30px;
}

.fade-in {
    opacity: 1;
    transition: opacity .5s ease;
}

.fade-out {
    opacity: 0;
    margin-bottom: 3rem;

    transition: all .5s ease;
}

.display-none {
    display: none;
    transition: display .5s ease-in;
}

.display {
    display: flex;
    transition: display .5 ease-in;
}