* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
}

body {
    font-family: 'Roboto', sans-serif;
    color: white;
    
}

.App {
    min-height: 100vh;
    overflow-x: hidden;
} 


.wheather {
    max-width: 400px;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    user-select: none;
}

.header {
    display: flex;
    align-items: center;
    flex-direction: column;

    margin-bottom: 60px;
    padding-top: 30px;
}

@media (min-width: 768px) {
    .header {
        margin-bottom: 30px;
        padding-top: 20px;
    }
}

.header h1 {
    font-size: 48px;
    margin-bottom: 5px;
}

.header span {
    font-size: 18px;
    opacity: .7;
}

.header h1, span {
    font-weight: 300;
}