::-webkit-scrollbar {
    width: 8px;
    background: rgb(201, 201, 201);
    opacity: .1;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(transparent, rgb(138, 138, 138));
    border-radius: 6px !important;
    opacity: .8;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(transparent, rgb(85, 85, 85));
}

